[submodule "dependencies/GSL"]
	path = dependencies/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "dependencies/COLLADA2GLTF"]
	path = dependencies/COLLADA2GLTF
	url = https://github.com/KhronosGroup/COLLADA2GLTF.git
	branch = 2.0
[submodule "dependencies/cpp-linq"]
	path = dependencies/cpp-linq
	url = https://github.com/coveo/linq
